<a href="https://colab.research.google.com/github/SarahAdmin/Data-Binary-Project/blob/main/Datawork_and_Binary_Converter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel('prc-supplementary-crime-outcomes-metrics-240725.xlsx',sheet_name='Outcomes')
newDF = df.duplicated()
print(newDF)

0        False
1        False
2        False
3        False
4        False
         ...
33875    False
33876    False
33877    False
33878    False
33879    False
Length: 33880, dtype: bool

0        False
1        False
2        False
3        False
4        False
         ...
33875    False
33876    False
33877    False
33878    False
33879    False
Length: 33880, dtype: bool

In [ ]:
bin(64)

'0b1000000'

In [ ]:
bin(128)

'0b10000000'

In [ ]:
bin(255)

'0b11111111'

In [ ]:
bin(27)

'0b11011'

In [ ]:
def ConvertDectoBin(number):
  return bin(number)
ConvertDectoBin(int(input('Enter your number: ')))

Enter your number: 64

'0b1000000'

In [ ]:
bin(30)

'0b11110'

In [ ]:
def ConvertDectoBin(number):
  if (number < 64):
    print(bin(number))
    print('Lower than Eight')
  else: # The else statement does not take a condition
    print(bin(number))
    print('Greater than computer data')

ConvertDectoBin(255)

0b11111111
Greater than computer data